.body-container {
  text-align: left;
  margin: 33px;
  color: white;
}

.body-container > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #dcdcdc;
}

.body-container > h2 {
  color: #f5f5f5;
  font-weight: 700;
  font-size: 22px;
}
