.image {
  width: 317px;
}

.header-container {
  text-align: center;
  background-color: #1a1b21;
  margin-left: 40.6%;
  margin-right: 40.6%;
}

#main-title {
  color: white;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
